@{
    ViewBag.Title = "All Users";
}

<p><a href="@Url.Action("Register")">Add New User</a></p>
<input type="text" max="30" placeholder="Search users..." />
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>E-Mail</th>
            <th>Password</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Membership</th>
            <th>Date Created</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableBody">
        @{Html.RenderAction("LoadUsers", new { id = default(int) });}
    </tbody>
</table>
<img id="loader" src="~/Content/loader.gif" alt="Loader" />

@section CSS{
    <link rel="stylesheet" href="~/Content/index-styles.css" />
}

@section JavaScript{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js" defer></script>
    <script src="~/Scripts/index-scripts.js" defer></script>
}
